.logo{
    height: 75px;
    width: 75px;
    background-color: azure;
    border-radius: 50%;
    background-image: url(https://picsum.photos/200);
    background-size: cover;
}

.main-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
